.header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);    
    z-index: 5
}

.nav {
    display: flex;    
    justify-content: space-between;
    border-bottom: 2px #bfbfbf solid;
}

// .hamburger {
//     display: none;
// }


.logo {
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0 0 70px;
    text-transform: uppercase;
    &__link {
        text-decoration: none;
    }
}

.menu {
    margin: 60px 0px 0 0px;
    flex-basis: fill;
    &_flex {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: inline-block;
        margin: 0px 20px 15px 20px;
        font-size: 16px;
    }
	&__link {
		text-decoration: none;
        &:hover {
            color:#bfbfbf;
        }
	}
}


	